<div class="footer">
	<div class="footer-elements text-light text-center">
		
		<div class="footer-head">
			<i class="fas fa-code" style="color: blue;"></i> with <i class="fas fa-heart" style="color: red;"></i> and <i class="fas fa-coffee" style="color: brown;"></i> by 
			<strong>Karthick Murugesan</strong>
		</div>

		<ul class="nav">
			<li class="nav-items" id="github"><a href="https://github.com/karthick-murugesang" target="_blank">
					<h2><i class="fa fa-github"></i><h4 class="text-center">  View on GitHub</h4></h2>
				</a></li>
			<li class="nav-items" id="linkedin"><a href="https://www.linkedin.com/in/karthick-murugesan-g-6678b727a" target="_blank" >
					<h2><i class="fa fa-linkedin"></i><h4 class="text-center">  Let's Connect</h4></h2>
				</a></li>
			<li class="nav-items" id="instagram"><a href="https://instagram.com/karthick.__.00" target="_blank">
					<h2><i class="fa fa-instagram"></i><h4 class="text-center">  Follow</h4></h2>
				</a></li>
		</ul>
	</div>
</div>
